[submodule "propel"]
	path = propel
	url = git@github.com:tedconf/propel-unofficial.git
[submodule "doc"]
	path = doc
	url = git@github.com:tedconf/symfony-doc-unofficial.git
[submodule "doctrine"]
	path = doctrine
	url = git@github.com:tedconf/doctrine-unofficial.git
[submodule "phing"]
	path = phing
	url = git@github.com:tedconf/phing-unofficial.git
[submodule "externals/lime"]
	path = externals/lime
	url = git@github.com:tedconf/lime-unofficial.git
