[submodule ".externals/yaml"]
	path = .externals/yaml
	url = git://github.com/fabpot/yaml.git
[submodule ".externals/event-dispatcher"]
	path = .externals/event-dispatcher
	url = git://github.com/fabpot/event-dispatcher.git
[submodule ".externals/lime"]
	path = .externals/lime
	url = git@github.com:tedconf/lime-unofficial.git
